<a href="https://colab.research.google.com/github/DaiWinchester/jogo-do-futuro/blob/main/CRUD_awsNutri1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://vegibit.com/interacting-with-a-database-using-sqlalchemy-crud-operations/#sqlalchemy-crud-faq

https://gist.github.com/natorsc/2aa22acad48379c446f8141894da0d8f

In [68]:
from sqlalchemy import create_engine

In [69]:
!pip install PyMySQL

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: PyMySQL in /usr/local/lib/python3.10/dist-packages (1.0.3)

In [71]:
#Engine representa a conexão com o banco de dados
#cadeia de conexão geralmente está no formato dialect+driver://username:password@host:port/database
engine = create_engine('mysql+pymysql://admin:12345678@nutriteste-1.cn6rgbweiri1.us-east-1.rds.amazonaws.com:3306/nutri')

In [72]:
conn = engine.connect()

----
Criando tabela e esquema

Para o CRUD é preciso definir o esquema dos dados.
- Esquema é o projeto que descreve a estrutura dos dados que serão armazenados no banco.

Para definir o esquema de nossa tabela, utilizaremos a classe declarative_base do SQLAlchemy, que fornece uma classe base para a criação do esquema de nossas tabelas.

In [73]:
# Primeiro, precisamos importar a classe e criar uma instância dela:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

<ipython-input-73-fb25f43e4286>:3: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [74]:
from sqlalchemy import Column, Integer, String, Float


class Nutri(Base):
    __tablename__ = 'nutri2'
    ID_PRODUTO = Column(Integer, primary_key=True, nullable = False)
    NOME_PRODUTO = Column(String(100), nullable=False)
    Energia = Column(Float, nullable=True)
    Proteina = Column(Float, nullable=True)
    Lipideos = Column(Float, nullable=True)
    Carboidrato = Column(Float, nullable=True)
    FibraAlimentar = Column(Float, nullable=True)
    Sodio = Column(Float, nullable=True)
    Categoria = Column(String(50), nullable = False)
    Subcategoria = Column(String(50), nullable = True)
    Valor_Nutricional = Column(Integer, nullable = False)

-----
Criando uma sessão

In [80]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

---

Agora vamos fazer as operações de CRUD

- Inserindo dados em uma tabela

In [116]:
# Adicionando um produto

produto = Nutri(NOME_PRODUTO = "Produto teste X", Energia = 0, Proteina = 2, Lipideos = 1, Categoria = "teste 1", Valor_Nutricional = 100)

In [117]:
try:
  session.add(produto)
  session.commit()
except:
  session.rollback()
  raise
finally:
  session.close()

In [97]:
#Adicionando mais de um produto
produto1 = Nutri(NOME_PRODUTO = "Produto teste :)", Proteina = 5, Lipideos = 3, Categoria = "teste f", Valor_Nutricional = 50)
produto2 = Nutri(NOME_PRODUTO = "Produto teste ;)", Energia = 0, Proteina = 2, Categoria = "teste f", Valor_Nutricional = 50)

In [98]:
produtos = [produto1, produto2]

In [100]:
#session = Session()

try:
  # Realize várias operações de banco de dados
  session.add_all(produtos)
  session.commit()
except:
  session.rollback()
  raise
finally:
  session.close()

-----------
- Recuperando dados de uma tabela

Para realizar uma consulta, usamos o  método session.query() e o encadeamos com outros métodos para especificar os critérios da consulta.

In [101]:
# Consultando todos os dados da tabela
produtos = session.query(Nutri).all()

In [102]:
 # Exibindo todos os registros.
for produto in produtos:
   print(f'ID: {produto.ID_PRODUTO} - Nome: {produto.NOME_PRODUTO} - Valor Nutricional: {produto.Valor_Nutricional}')

ID: 1 - Nome: Arroz integral - Valor Nutricional: 60
ID: 2 - Nome: Arroz tipo 1 - Valor Nutricional: 45
ID: 3 - Nome: Arroz tipo 2 - Valor Nutricional: 50
ID: 4 - Nome: Biscoito cream cracker - Valor Nutricional: 30
ID: 6 - Nome: Biscoito recheado com chocolate - Valor Nutricional: 40
ID: 7 - Nome: Biscoito de polvilho - Valor Nutricional: 60
ID: 8 - Nome: Macarrão instantâneo - Valor Nutricional: 1
ID: 9 - Nome: Pão de aveia, forma  - Valor Nutricional: 80
ID: 10 - Nome: Pão, glúten, forma - Valor Nutricional: 50
ID: 11 - Nome: Pão de milho, forma - Valor Nutricional: 70
ID: 12 - Nome: Pão integral de trigo, forma  - Valor Nutricional: 65
ID: 13 - Nome: Pão francês - Valor Nutricional: 60
ID: 14 - Nome: Produto teste 11 - Valor Nutricional: 100
ID: 15 - Nome: Produto teste 12 - Valor Nutricional: 100
ID: 16 - Nome: Produto teste :) - Valor Nutricional: 50
ID: 17 - Nome: Produto teste ;) - Valor Nutricional: 50

 - O método session.query(Nutri) - recupera todas as colunas da classe Nutri
 - .all() recupera todas as linhas da tabela nutri2 que correspondem aos critérios especificados pela consulta. 
 
O resultado da consulta é armazenado na variável produtos, que é uma lista de objetos Nutri.

Para recuperar uma linha específica da tabela, podemos usar o método .filter() para especificar um critério.

In [103]:
# Consultando dados usando filtros
produtos = session.query(Nutri).filter(Nutri.Valor_Nutricional >= 50).all()

In [104]:
# Exibindo registros com filtro.
 
for produto in produtos:
   print(f'Nome: {produto.NOME_PRODUTO} - Id: {produto.ID_PRODUTO} - Categoria: {produto.Categoria}')

Nome: Arroz integral - Id: 1 - Categoria: Cereais
Nome: Arroz tipo 2 - Id: 3 - Categoria: Cereais
Nome: Biscoito de polvilho - Id: 7 - Categoria: Cereais
Nome: Pão de aveia, forma  - Id: 9 - Categoria: Cereais
Nome: Pão, glúten, forma - Id: 10 - Categoria: Cereais
Nome: Pão de milho, forma - Id: 11 - Categoria: Cereais
Nome: Pão integral de trigo, forma  - Id: 12 - Categoria: Cereais
Nome: Pão francês - Id: 13 - Categoria: Cereais
Nome: Produto teste 11 - Id: 14 - Categoria: teste all
Nome: Produto teste 12 - Id: 15 - Categoria: teste all
Nome: Produto teste :) - Id: 16 - Categoria: teste f
Nome: Produto teste ;) - Id: 17 - Categoria: teste f

-----------------
- Atualizando dados em uma tabela

Para atualizar os dados em uma tabela, primeiro precisamos recuperar a linha que queremos atualizar, fazer as alterações nos dados e, em seguida, confirmar as alterações no banco de dados.

Atualizar um dado:

Ex1:

In [108]:
# recuperando dado
produto = session.query(Nutri).filter(Nutri.ID_PRODUTO == 10).first() #.first() para retornar o primeiro resultado encontrado.

#alterando dado
produto.Valor_Nutricional = 40

#atualizando dado no banco de dados
session.commit()

Ex2:

In [41]:
# Alterar um registro da tabela.
print('Valor nutri ANTES da alteração:', session.query(Nutri).filter(Nutri.ID_PRODUTO == 2).one().Valor_Nutricional)

Valor nutri ANTES da alteração: 55

In [42]:
session.query(Nutri).filter(Nutri.ID_PRODUTO == 2).update({'Valor_Nutricional': 45})
session.commit()

In [43]:
print('Valor nutri DEPOIS da alteração:', session.query(Nutri).filter(Nutri.ID_PRODUTO == 2).one().Valor_Nutricional)

Valor nutri DEPOIS da alteração: 45

Atualizando vários dados:

In [109]:
# recuperando dados
produtos = session.query(Nutri).filter(Nutri.Subcategoria == 'Pão').all()

In [110]:
try:
  #alterando dado
  for produto in produtos:
    produto.Subcategoria = 'Cereais'
    session.commit()
except:
  session.rollback()
finally:
  session.close()

---

- Excluindo dados de uma tabela

Para excluir dados de uma tabela, primeiro precisamos recuperar a linha que queremos excluir e, em seguida, chamar o método session.delete(), depois confirmar a alteração com session.commit()

Deletando um dado:

In [111]:
#from sqlalchemy.sql.elements import Null
produto = session.query(Nutri).filter(Nutri.Categoria == "teste all" ).first()

In [93]:
print(produto)

<__main__.Nutri object at 0x7fee1b5292d0>

In [112]:
try:
    # Realize várias operações de banco de dados
  session.delete(produto)
  session.commit()
except:
  print("Nada foi encontrado")
  session.rollback()
  raise
finally:
  session.close()

In [89]:
#if produto:
#  session.delete(produto)
#  session.commit()
#else:
#  print("Nada foi encontrado")

Exemplo 2:

In [ ]:
# Remover um registro da tabela.
print('Registro ANTES da remoção:', session.query(Nutri).filter(Nutri.ID_PRODUTO == 1).one_or_none())

In [ ]:
session.query(Nutri).filter(Nutri.ID_PRODUTO == 1).delete()
session.commit()

In [ ]:
print('Registro DEPOIS da remoção:', session.query(Nutri).filter(Nutri.ID_PRODUTO == 1).one_or_none())

Deletando vários dados:

In [113]:
produtos = session.query(Nutri).filter(Nutri.Categoria == "teste f" ).all()

In [115]:
try:
  for produto in produtos:
    session.delete(produto)
    session.commit()
except:
  print("Nada foi encontrado")
  session.rollback()
  raise
finally:
  session.close()

---
Encerrar sessão

In [ ]:
session.close()